<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lineage: The Spring Trial</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/adventurer-home.css}">
</head>
<body>
<header class="navbar">
    <div class="navbar-left"><p class="lineage2-title-header">Lineage 2:</p> The Quest Master</div>
    <div class="navbar-right">
        <a href="/logout" class="nav-btn">Exit</a>
    </div>
</header>
<main class="main-content">

    <div class="adventurer-home-container">

        <div class="qm-header">
            <h1>Welcome, <span class="key-header" th:text="${player.nickname}">Adventurer</span>!</h1>
            <p>The world of Aden awaits your courage. Participate in quests, earn epic loot, and ascend in rank!</p>
        </div>


        <section class="quest-slider-row">

            <!--     DISPLAY THIS IF NO QUESTS ARE FOUND    -->
                        <div class="empty-quest-slider" th:if="${availableQuests.size() == 0}">
                            <span>No quests have been created for you yet. Stay sharp, adventurer.</span>
                        </div>

            <!--    DISPLAY SLIDER WITH QUESTS IF ANY QUEST EXIST   -->
            <div class="quest-slider" th:each="quest: ${availableQuests}">
                <div class="quest-preview-entry">
                    <div class="quest-preview-banner-wrapper">
                        <img class="quest-preview-banner" src="https://i.ibb.co/zw2J384/quest-banner-4.jpg" alt="Quest Banner"/>
                        <div class="eligible-class-details">
                            <!--   CHOOSE CORRECT CLASS ICON BASED ON THE ELIGIBLE CLASS FOR THE QUEST -->
                            <img class="quest-preview-class-icon" src="/images/mystic-muse-icon.png" alt="Eligible Class Icon" th:if="${quest.eligibleClass.displayName=='Mystic Muse'}"/>
                            <img class="quest-preview-class-icon" src="/images/ghost-hunter-icon.png" alt="Eligible Class Icon" th:if="${quest.eligibleClass.displayName=='Ghost Hunter'}"/>
                            <img class="quest-preview-class-icon" src="/images/doombringer-icon.png" alt="Eligible Class Icon" th:if="${quest.eligibleClass.displayName=='Doombringer'}"/>
                            <form th:object="${questRequest}" th:action="@{/adventurer-home}" method="post">
                                <input type="hidden" name="questId" th:value="${quest.id}"/>
                                <button class="gold-regular-button" th:if="${quest.capturer==null}">Capture</button>
<!--                            IF THE QUEST HAS A CAPTURER, DISPLAY THE BUTTON BELLOW                   -->
                                <button class="gold-regular-button completed" disabled th:if="${quest.capturer!=null}">Completed</button>
                            </form>
                        </div>
                    </div>
                    <div class="quest-preview-details">
                        <h4 class="quest-preview-title" th:text="${quest.title}"></h4>
                        <p class="quest-preview-description" th:text="${quest.description}"></p>
                        <div class="quest-preview-reward">
                            <div class="quest-preview-item">
                                <img class="quest-preview-reward-icon"
                                     th:src="${quest.rewardItem.iconUrl}" alt="Reward Icon"/>
                                <span th:text="${quest.rewardItem.name}"></span>
                            </div>
                            <div class="quest-preview-xp">
                                <img class="quest-preview-xp-icon" src="/images/br_cash_rune_of_exp_i00.png"
                                     alt="XP Icon"/>
                                <span class="quest-preview-xp-label" th:text="${quest.xp}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="main-adventurer-row">

            <div class="info-column">
                <div class="info-panel-box">
                    <div class="info-text-box">
                        <p>
                            In the lands of <span class="info-text-box-highlight">Aden</span>, peace is an illusion.
                            The fall of Elmoreden shattered balance, and chaos spread across the kingdoms.
                            From the <span class="info-text-box-highlight">Ivory Tower’s secrets</span> to the cursed
                            plains of the Orc Barracks, heroes rise and fall.
                            <span class="info-text-box-highlight">Gludio’s gates</span> once welcomed traders—now they
                            echo with war drums.
                            Even dragons like Valakas stir in their slumber.
                            In this world, every quest is a step toward glory… or oblivion. Are you ready to carve your
                            fate? You better be, young hero...
                        </p>
                    </div>
                </div>

            </div>

            <!-- Player Details -->
            <div class="player-column">
                <div class="player-box">
                    <img src="/images/mystic-muse-icon.png" class="player-class-icon" alt="Class Icon" th:if="${player.playerClass.displayName=='Mystic Muse'}"/>
                    <img src="/images/ghost-hunter-icon.png" class="player-class-icon" alt="Class Icon" th:if="${player.playerClass.displayName=='Ghost Hunter'}"/>
                    <img src="/images/doombringer-icon.png" class="player-class-icon" alt="Class Icon" th:if="${player.playerClass.displayName=='Doombringer'}"/>
                    <h3 class="player-nickname" th:text="${player.username}">ShadowWolf</h3>
                    <div class="player-stats">
                        <p class="class-badge class-mystic-muse" th:if="${player.playerClass.displayName=='Mystic Muse'}">Mystic Muse</p>
                        <p class="class-badge class-ghost-hunter" th:if="${player.playerClass.displayName=='Ghost Hunter'}">Ghost Hunter</p>
                        <p class="class-badge class-doombringer" th:if="${player.playerClass.displayName=='Doombringer'}">Doombringer</p>

                        <p class="player-level-attribute">Level: <strong th:text="${player.getLevel()}">5</strong></p>
                        <p class="player-xp-attribute">Total XP: <strong th:text="${player.xp}">132</strong></p>

                        <div class="xp-bar">
                            <div class="fill" th:style="'width: ' + ${player.getProgress()} + '%'"></div>
                        </div>
                        <p class="progress-label" th:text="${xpPercentToNextLevel} + '% to next level'">60% to next level</p>

                        <div class="player-flavor">
                            “Glory is earned, not given.”
                        </div>
                    </div>

                </div>
            </div>

            <!-- Earned Items -->
            <div class="box item-list-box">
                <!--   DISPLAY LIST WITH ITEMS IF ANY ITEM WAS EARNED BY THE PLAYER   -->
                <div class="item-list" th:each="item: ${obtainedItems}">
                    <div class="item-row">
                        <img th:src="${item.iconUrl}" width="32" height="32"
                             class="item-icon-list-of-items"/>
                        <div class="item-info">
                            <div class="item-name" th:text="${item.name}">Archangel Sword</div>
                            <div class="item-attributes" th:text="${item.type.displayName} + ' - x' + ${item.xpBonusMultiplier} + ' XP'">Weapon – x3.0 XP</div>
                        </div>
                        <div class="item-meta">
                            <div class="meta-author" th:text="${item.createdBy}">Ivory Tower's Silent Cry</div>
                        </div>
                    </div>
                </div>

<!--           ====== DISPLAY THIS IF NO ITEMS ARE EARNED BY THE PLAYER ======      -->

            <div class="empty-item-list" th:if="${obtainedItems.size()==0}">
                 <span>You haven’t earned any items yet.</span>
            </div>
            </div>
        </section>

    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
